@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  background-color: #0a0a0a;
  color: white;
}

* {
  overscroll-behavior-x: none;
}

#props-card {
  overscroll-behavior-y: none;
}

@layer utilities {
  .table-scrollbar::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    border-radius: 100%;
  }

  .table-scrollbar::-webkit-scrollbar-track,
  html::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #353535;
  }

  .table-scrollbar::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 100vh;
    border: 3px solid #202020;
  }

  .table-scrollbar::-webkit-scrollbar-thumb:hover,
  html::-webkit-scrollbar-thumb:hover {
    background: #202020;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* styles.css */
.game-title-desktop {
  display: block;
}

.game-title-mobile {
  display: none;
}

@media (max-width: 768px) {
  .game-title-desktop {
    display: none;
  }

  .game-title-mobile {
    display: block;
  }
}

#chart-container {
  transition: background 0.5s ease;
}

#nba-props-table {
  overscroll-behavior-y: none;
}
